@model loja_carros.Models.Carro

<h2>Deletar Veículo</h2>

<form asp-controller="Carro" asp-action="ExcluirCarroConfirmado" method="post">
    <input type="hidden" asp-for="Id" />
    
    <p>Você tem certeza de que deseja excluir este veículo?</p>

      <table class="table">
          <tr>
              <td><label asp-for="Marca">Marca:</label></td>
              <td><span>@Model.Marca</span></td>
          </tr>
          <tr>
              <td><label asp-for="Modelo">Modelo:</label></td>
              <td><span>@Model.Modelo</span></td>
          </tr>
          <tr>
              <td><label asp-for="Ano">Ano:</label></td>
              <td><span>@Model.Ano</span></td>
          </tr>
          <tr>
              <td><label asp-for="Cor">Cor:</label></td>
              <td><span>@Model.Cor</span></td>
          </tr>
          <tr>
              <td><label asp-for="Preco">Preço:</label></td>
              <td><span>@Model.Preco</span></td>
          </tr>
      </table>
    <div class="align-content-center">
    <button type="submit" class="btn btn-primary btn-md w-25 btn-block mx-auto" value="Confirmar">Confirmar</button>
    </div>
    <div class="align-items-lg-baseline">
        <button type="submit" class="btn btn-outline-danger  w-25 btn-md btn-block mt-3 mx-auto" value="Cancelar" asp-controller="Carro" asp-action="Index">Cancelar</button>

    
    </div>
</form>